*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  margin: 20px;
  font-size: 20px;
}

a:hover {
  color: red;
}

h1,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  margin: 20px;
  background-color: skyblue;
  padding: 20px;
  border-radius: 10px;
}

h3,
ul,
ol,
img {
  margin: 20px;
}

img {
  display: block;
  margin: 0 auto;
  border: 5px solid gray;
  padding: 5px;
}

ul,
ol {
  background-color: lightblue;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

li {
  list-style-position: inside;
  margin: 0px 20px;
  font-size: 20px;
  padding: 5px;
  line-height: 1.5em;
}

h3 {
  font-size: 30px;
  padding: 8px;
  background-color: orange;
}
