*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  margin: 20px;
  background-color: skyblue;
  padding: 20px;
  border-radius: 10px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin: 20px 40px;
}

a:hover {
  color: red;
}
